h1, h2 {
  text-align: center;
}

/**************
HOME PAGE STYLES
***************/
#play-or-search {
  margin: 30px 0;
  text-align: center;

  form {
    display: inline-block;
  }
}

#browse-posters {

}

ul.posters {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/**************
GAME STYLES
***************/
#namegame {
  margin: 0 auto;
  max-width: 1200px;

  text-align: center;

  h1 {
    margin-bottom: 20px;
  }
}

ul.actor-posters {
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.actor {
  .answer {
  }
}

section.answer-pool {

}

.answer {
  display: inline-block;
  margin-bottom: 2px;
  padding: 6px 10px;

  background-color: #d2ddf7;
  border: 1px solid #b4c8fb;
  border-radius: 2px;

  font-size: 1.5rem;
}
