/**************
GENERAL STYLES
***************/
body {
  background-color: #141414;
  color: #fff;
}

h1 {
  text-align: center;
}

a {
  color: #fff;
}

.hidden {
  display: none;
}

/**************
HOME PAGE STYLES
***************/
#play-or-search {
  margin: 30px 0;

  font-size: 1.5rem;
  text-align: center;

  a {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  form {
    display: inline-block;

    input {
      font-size: 1.5rem;
    }

    input[type='text'] {
      color: #fff;

      background: none;
      border: none;
      border-bottom: 2px solid #fff;
      outline: none;
    }
  }
}

#browse-posters {
  padding: 0 20px;

  h2 {
    margin-bottom: 8px;
    font-weight: normal;
  }

  div {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

ul.posters {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  // justify-content: f
}

/**************
GAME STYLES
***************/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-bottom: 40px;
  padding: 10px 20px;

  .back {
    display: inline-block;
    width: 50px;
    height: 40px;
    margin-right: 30px;

    background: url('back.png') no-repeat center center;
    background-size: contain;

    -webkit-transition: -webkit-transform .2s;
            transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;

    &:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }

  .movie-page {
    width: 50px;
    margin-right: 20px;
  }

  h1 {
    display: inline-block;
  }
}

#game {
  margin: 0 auto;
  padding: 0 30px 50px;
  max-width: 1200px;

  text-align: center;
}

ul.actor-posters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;

  margin-bottom: 20px;
}

.actor {
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;

  img {
    vertical-align: bottom;
  }

  .answer-slot {
    height: 80px;
  }

  .answer {
    width: 100%;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    font-size: 1.2rem;
  }

  &.correct .answer {
    background-color: #cbffc1;
  }

  &.incorrect .answer {
    background-color: #ffc1c1;
  }

  &.drop-hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) .answer {
      -webkit-transition-delay: .5s * ($i - 1);
              transition-delay: .5s * ($i - 1);
    }
  }
}

section.answer-pool {
  margin: 0 auto;
  max-width: 600px;

  .submit {
    padding: 10px 16px;
    font-size: 2rem;

    cursor: pointer;
  }
}

.answer {
  display: inline-block;
  margin-bottom: 4px;
  padding: 6px 12px;

  color: #000;
  background-color: #fff;
  border-radius: 2px;

  font-size: 1.5rem;

  -webkit-transition: background-color .1s;
  transition: background-color .1s;

  cursor: -webkit-grab;
  cursor: grab;

  z-index: 100;
}

.results {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;

  opacity: 1;

  p {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  a {
    padding: 4px 12px;

    color: #000;
    background-color: #ccc;

    &:hover {
      background-color: #fff;
    }
  }

  &.hidden {
    display: block;
    opacity: 0;
  }
}
